main {
    min-height: 80vh;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    margin-bottom: 5vh;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
    margin-bottom:0;
}

#gif-board {
    max-height : 500px;
}

#gif-list {
    max-height : 450px;
    overflow-y : auto;
}

.novel {
    height : 70vh;
    overflow-y : auto;
    padding : 16px;
    margin : 16px;
}
.logo-header {
    margin-right: 40px;
}