* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Partie HEADER */
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    font-size: 15pt;
    font-weight: 600;
    padding-left: 0;
    margin-left: 0;
}

header nav ul li {
    background-color: #008cff;
    border-radius: 20px;
    padding: 5px 10px 5px;
    margin: 0 10px 0;
}

header nav ul li a {
    color: #fff;
}

#logo-header {
    width: 110px;
    max-width: min-content;
    padding: 0;
    margin: 0;
}

/* Corps de la page */

body {
    background-color: #fff973;
    margin: 5% 5% 5%;
}

main {
    margin: 5% 10% 5%;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.img-presentation-oeuvre {
    width: 600px;
    justify-content: center;
}

section h2 {
    text-align: center;
}

figure {
    text-align: center;
}

@media  (max-width: 600px) {
    header nav ul {
        flex-direction: column;
    }
}


/* Partie FOOTER */

footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    list-style-type: none;
    font-size: 15pt;
    font-weight: 600;
}

footer ul li {
    padding: 1% 0% 0%;
}

